.site-footer {
  padding-block: 70px;

  &__inner {
    
    @mixin at xSmall {
      text-align: center;

      > * + * { margin-top: 2rem; }
    }

    @mixin  at Small {
      display: flex;
      align-items: center;
    }

  }

  .copyright { 
    color: #b9babe;
    @mixin at xSmall { @mixin font-size 1.2 }
  }

  .back-to-top { 
    margin-left: auto;
    letter-spacing: .02em;    
    @mixin font-size 1.2;
    @mixin at Small { @mixin font-size 1.3 }

    svg { 
      fill: #b9babe;
      margin: 0 0 -.2rem 1rem;
    }
  }


}