footer.site-footer
  .container.container--narrow
    .site-footer__inner
      p.copyright.no-m-bottom Copyright 2018 - 2019 Madison. All rights reserved.
      a(href="#top").back-to-top.button.button--outline
        span.to-uppercase Back to top
        svg(width='14', height='14', viewBox='0 0 512 512')
          use(xlink:href='#arrow-up')
    