#top
header.site-header.clearfix.jsSiteHeader
  .site-header__wrapper
    .site-header__logo
      a(href="#")
        .site-header__madison-brand MA
    button.button--plain.site-header__drawer-trigger.jsHeaderDrawerTrigger
      span.visually-hidden Site Menu
      div.drawer-trigger-icon
        span.drawer-trigger-icon__middle
    .site-header__drawer.jsHeaderDrawer
      nav.site-header__primary-nav.clearfix
        ul.list.list--inline-atSmall.list--no-bullets.list--no-inline-gutters
          li 
            a(href="#") About
          li 
            a(href="#") Tools
          li 
            a(href="#") Place an Order
        ul.list.list--inline-atSmall.list--no-bullets.list--no-inline-gutters 
          li 
            a(href="#") Careers 
          li 
            a(href="#") Contact 
          li 
            a(href="#") Search
  .scroll-indicator
    .scroll-indicator__percentage-bar.jsScrollIndicatorBar